<div class="thmbnail">
  <img style="width: 100%" src="http://placehold.it/820x320" alt="">
  <div>
    <h4 class="pull-right">{{ product.price }}元</h4>
    <h4>{{ product.title }}</h4>
    <p>{{ product.desc }}</p>
  </div>
  <div>
    <div class="pull-right">{{ comments.length }}</div>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>

<div class="well">
  <button class="btn btn-success" (click)="showCommentAdder = !showCommentAdder">发表评论</button>
  <div class="form-group" [hidden]="!showCommentAdder">
    <textarea [(ngModel)]="newComment" class="form-control"></textarea>
    <app-stars [(rating)]="newRating" [readonly]="false"></app-stars>
    <button (click)="addComment()" class="btn btn-primary">发表</button>
  </div>
  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="col-sm-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="pull-right">{{comment.timestamp}}</span>
      <p></p>
      <p>{{ comment.content }}</p>
    </div>
  </div>
</div>
